*{
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}
.outer{
	//background:#e6f7ff;
	height: auto;
	width: 100%;
}
.header{
	height: 70px;
	width: 100%;
	background: #118f77;
	position: fixed;
	overflow: hidden;
}
.menu ul li{
	display: inline-block;
	height: 20px;
	overflow: ;
	
	padding: 10px;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
} 
.title{
	margin-left: 0px;
	position: absolute;
	left: 20px;
	top: 20px;
	font-weight: bolder;
	font-size: 25px;
	color: whitesmoke;
	list-style: none;
}
.titl a{
	text-decoration: none;
	color: whitesmoke;
}
.titl{
	margin-left: 1340px;
	border: 2px solid black;
	width: 5%;
	padding-left: 4px;
	border-radius: 15px;
	position: absolute;
	left: 20px;
	top: 20px;
	font-weight: r;
	font-size: 20px;
	color: whitesmoke;
	list-style: none;
}
.title a{
	text-decoration: none;
	color: whitesmoke;
}
.titl a:hover{

	color:black;
}
.menu{
	margin-left: 40%;
		width: 55%;
	
}
.menu ul li a{
	text-decoration: none;
	color: white;

	
} 
.menu ul li a:hover{
	font-weight: bold;
	color: black;
	font-size: 22px;
	
} 
#search{
	height: 30px;
	border-radius: 15px;
	border: none;
	margin-top: .5%;
	padding-left: 10px;
	font-size: 15px;
	position: fixed;

}
#search:hover{
	border:1px solid;
}
.block{
	margin-top: 4%;
	background: #e6f7ff;
}
.block1 img{
	height: auto;
	width: 50%;
	height:30%;
	margin-left:50%;
}
.block1{
	width: 70%;
	margin-left: -20%;
	background:#e6f7ff;
	float: left;
	background-size:cover;
	height: auto;
}
.block11{
	width: 50%;
	height: 360px;	
	background:#e6f7ff;
	float: left;
}
.block12
		{
	margin: 150px;
	background: #e6f7ff;
	font-weight: bolder;
		}
.block13
		{
	margin-left:170px;
	height: 40px;
	width: 150px;
	text-align: center;
	font-weight: ;
	font-size: 20px;
	line-height: 40px;
	border-radius: 20px;
	text-decoration:none;

	background-color:#118f77;
}
.block13 a{
	text-decoration:none;
	color: #e6f7ff;
}
.block13 a:hover{
	text-decoration:none;
	color: black;
	font-size: 22px;

	
}
.block21{
	height: 200px;
	width: 80%;
	margin-left: 10%;
	background: red;
	float: left;
	background: whitesmoke;
}
.block2{
	height: 200px;
	width: 80%;
	margin-left: 10%;
	background: red;
	float: left;
	background: white;
}
.block{
	float: left;
	width: 100%;
	height: fit-content;
	background: whitesmoke;
}
.block33{
	height:fit-content;
	width: 100%;
	background-color:whitesmoke;
}
.cat{
	width: 98%;
}
.box1{
	height:150px;
	width: 95%;
	margin-left: 5%;
	background-color: ;
}
.box2{
	height: 63px;
	background: ;
	width: 100%;
	text-align: center;
	color: #828282;
	background: #e6f7ff;
	font-size: 45px;

}
.footer2{
	background: red;
	width: 100%;
}
.aksh{
	width: ;
}
*{
margin: 0px;
padding: 0px;
font-family: sans-serif;
}
.Categories{
	text-align: center;
	font-size:220%;
	font-family: sans-serif;
	font-weight: bold;
}
.text{
	width: 100%;
	margin-top: 1%;
	margin-left:2%;
	float: left;
}
.text1{
	margin-top:5%;
	width:20%;
	//border: 1px solid;
	float: left;
	margin-left:9%;
}
.textcontain{
	width:82%;
	height:200px;
	border-radius:50% 50% 50% 50% ;
	//border: 2px solid;
	margin-left:3%;
	background-color:aliceblue;
}
.imgheight{
	width:50%;
	height: 130px;
	margin-left:23%;
	margin-top:16%;
}
.text2{
	margin-top:10%;
	//border: 1px solid;
	float: left;
	margin-left: 1%;
}
.text2 a{
	text-decoration: none;
	color: black;
}
.akshay5{
	width: 98%;
}

		*{
			padding: 0;
			margin: 0;
			fo
		}
		.fouter{
			height:40vh;
			width: 100%;
			background: #118f77;

		}
		.fbox1{
			height:5vh;
			width: 100%;
			background: #118f77;
			text-align: center;
		}
		.fbox2{
			height:34vh;
			width: 25%;
			background:#118f77 ;
			float: left;
			text-align: center;
			
			
		}
			.fbox5{
			height: 34vh;
			width: 24%;
			background:#118f77 ;
			float: left;
			text-align: left;
			padding-left: ;
			
			
		}
		.fbox4{
			height: 34vh;
			width: 10%;
			background:#118f77 ;
			float: left;
			text-align: center;
			font-weight: bold;
			color: whitesmoke;
		}
		.fbox3
		{
			height: 17vh;
			width: 25%;
			background: red;
			font-weight: bold;
			border-radius: 10px;
					}
		.fbox3
		{
			height:9vh;
			width: 25%;
			background: red;
			font-weight: bold;
			border-radius: 10px;
					}
					.fbox2 img{
						height: 5vh;
						display: inline-block;
					}
					.fbox2 img:hover{
						height:6vh;
					}
					.fbox5 img{
						height:0vh;
						width: 40%;
						display: inline-block;


					}
					.fbox5 img:hover{
						height:6vh;
					}
					#em{
						height: 5vh;
						width: 65%;
						border-radius: 5vh;
						border: none;
						font-size:.2%;
						padding-left:0%;
					}
					.sus{
						height:5vh;
						width: 62%;
						border: 2px solid;
						margin-left:19%;
						border-radius: 6%;
						font-size:145%;

					}
					.sus a{
						text-decoration: none;
						color: black;
						font-weight: bold;
					}
					.sus a:hover{
						height:0vh;
						width: 62%;
						font-size:115%;
						text-decoration: none;
						color: white;
						font-weight: bolder;
						
					}
					#problem li{
						display:inline-block;
					}


		
		